# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.venv/
venv/

# Database
*.db
*.sqlite3

# Logs & temp
*.log
*.tmp

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Node (if used)
node_modules/